.Node{
    border: 1px solid black;
    display: inline-block;
    height: 30px;
    width: 30px;
    border-radius: 20%;
    background-color: #00b38f;
    box-shadow: 10px 5px grey;
    margin: 2px;
    transition: 200ms;
}

.Start{
    background-color: green;
    
}
.Finish{
     background-color: #BD1616; 
    
}
.Visited{
    background-color: #0F52BA;
    animation-name: visitedAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
    
}

.Wall{

    background-color: rgb(12, 53, 71);
}
.Short{
    background-color: yellow;
    animation-name: shortestPath;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}
.Front{
    background-color: blueviolet;
    animation-name: frontAnimation;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-delay: 0;
    animation-direction: alternate;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-play-state: running;
}

@keyframes visitedAnimation {
    0% {
      transform: scale(0.3);
      background-color: rgba(0, 0, 66, 0.75);
      border-radius: 10%;
    }
  
    50% {
      background-color: peachpuff;
    }
  
    75% {
      transform: scale(1.2);
      background-color: peachpuff;
    }
  
    100% {
      transform: scale(1);
      background-color: peachpuff;
    }
  }

  @keyframes shortestPath {
    0% {
      transform: scale(0.6);
      background-color: rgb(63, 243, 78);
    }
  
    50% {
      transform: scale(1.2);
      background-color: rgb(63, 243, 78);
    }
  
    100% {
      transform: scale(1);
      background-color: rgb(63, 243, 78);
    }
  }

  @keyframes frontAnimation {
    0% {
        transform: scale(0.6);
        background-color: rgb(63, 243, 78);
      }
    
      50% {
        transform: scale(1.5);
        background-color: rgb(63, 243, 78);
      }
    
      100% {
        transform: scale(1);
        background-color: rgb(63, 243, 78);
      }
  }